
{% extends "base.html" %}
{% block login_content %}

<style>
 /*** LOGIN CSS ***/
.main-content {
    width: 70%;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,.4);
    margin: 5em auto;
    display: flex;
}

.company__info {
    background-image: url('https://i.pinimg.com/564x/91/f9/16/91f916ab96d4129eb6423979582024a0.jpg');
    background-size: cover;  
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

@media screen and (max-width: 640px) {
    .main-content { width: 90%; }
    .company__info { display: none; }
    .login_form {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}

@media screen and (min-width: 642px) and (max-width: 800px) {
    .main-content { width: 70%; }
}

.login_form {
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

form {
    padding: 0 2em;
}

.form__input {
    width: 100%;
    border:0px solid transparent;
    border-radius: 0;
    border-bottom: 1px solid #aaa;
    padding: 1em .5em .5em;
    padding-left: 2em;
    outline:none;
    margin:1.5em auto;
    transition: all .5s ease;
}

.form__input:focus {
    border-bottom-color: orange;
    box-shadow: 0 0 5px orange; 
    border-radius: 4px;
}
</style>

<div class="container-fluid py-3 mb-5 ">
    <div class="row main-content  text-center">
        <div class="col-md-4 text-center company__info">
        </div>
        <div class="col-md-8 login_form ">
            <div class="container-fluid">
                <div class="row py-4 ">
                    <h1 class="text-primary display-6">Log In</h1>
                </div>
                <div class="row">
                    <form control="" class="form-group">
                        <div class="row">
                            <input type="text" name="username" id="username" class="form__input" placeholder="Username">
                        </div>
                        <div class="row">
                            <input type="password" name="password" id="password" class="form__input" placeholder="Password">
                        </div>
                      
                        <div class="row">
                            <div class="col-md-6 ">
                                <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-3" name="remember_me" >
                                <label for="remember_me" class="ml-0">Remember Me!</label>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary border-0 border-secondary rounded-pill text-white w-100">Submit</button>
                            </div>
                        </div> 
                    </form>
                </div>
                <br>
                <div class="row">
                    <p>Don't have an account? <a href="{% url 'UsersApp:register'%}">Register Here</a></p>
                </div>
                <div class="row">
                    <p>Go back to <a href="{% url 'home'%}">Home</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
