{% extends "base.html" %}
{% block login_content %}

<style>
    /*** SIGN UP CSS ***/
    .main-content {
        width: 70%;
        border-radius: 20px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, .4);
        margin: 5em auto;
        display: flex;
    }

    .login_form {
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 2em auto;
        padding: 2em;
        max-width: 500px;
    }

    form {
        padding: 0 2em;
    }

    .form__input {
        width: 100%;
        border: 0px solid transparent;
        border-radius: 0;
        border-bottom: 1px solid #aaa;
        padding: 1em .5em .5em;
        padding-left: 2em;
        outline: none;
        margin: 1.5em auto;
        transition: all .5s ease;
    }

    .form__input:focus {
        border-bottom-color: orange;
        box-shadow: 0 0 5px orange; 
        border-radius: 4px;
    }
</style>

<br> <br> <br> <br>
<!-- <div class="container-fluid py-3 mb-5 "> -->
    <!-- <div class="row main-content text-center"> -->
        <div class="col-md-12 login_form">
            <div class="container-fluid">
                <div class="row py-4">
                  <center> <h1 class="text-primary display-6 ">Sign Up</h1> </center> 
                </div>
                <div class="row">
                    <form control="" class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="first_name" id="first_name" class="form__input" placeholder="First Name">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="last_name" id="last_name" class="form__input" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="tel" name="phone_number" id="phone_number" class="form__input" placeholder="Phone Number">
                            </div>
                            <div class="col-md-6">
                                <input type="email" name="email" id="email" class="form__input" placeholder="Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="cin" id="cin" class="form__input" placeholder="CIN">
                            </div>
                            <div class="col-md-6">
                                <select class="form-select  form__input" aria-label="Small select example">
                                    <option disabled selected>Select Gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                  </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="password" name="password" id="password" class="form__input" placeholder="Password">
                            </div>
                            <div class="col-md-6">
                                <input type="password" name="repeat_password" id="repeat_password" class="form__input" placeholder="Repeat Password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="address" id="address" class="form__input" placeholder="Address">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="City" id="City" class="form__input" placeholder="City">
                            </div>
                        </div>
                        <div class="row">
                            <div class="">
                                <input type="checkbox" class="form-check-input bg-primary border-0" id="agree" name="agree" required>
                                <label for="agree" class="ml-0">I agree to the terms and conditions</label>
                            </div>
                            <div class="">
                                <button type="submit" class="btn btn-primary border-0 border-secondary rounded-pill text-white w-100">Submit</button>
                            </div>
                        </div>
                        <div class="row">
                     
                    </div>

                    </form>
                </div>
                <br>
                <div class="row">
                    <p>Already have an account? <a href="{% url 'UsersApp:login'%}">Log In Here</a></p>
                </div>
                <div class="row">
                    <p>Go back to <a href="{% url 'home'%}">Home</a></p>
                </div>
            </div>
        </div>
    <!-- </div> -->
<!-- </div> -->

{% endblock %}
