{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Cars</h1>
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5"
    style=" background-image: url('https://th.bing.com/th/id/R.a1f8629b3af8415a7fa5a182e60af9f8?rik=88qU6ZfKRcGKwA&pid=ImgRaw&r=0')">
    <h1 class="text-center text-white display-6">Cars Catalog</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
        <li class="breadcrumb-item text-dark"><a href="#">Catalog</a></li>
    </ol>
</div>
<!-- Single Page Header End -->
<div class="container-fluid fruite py-3">
    <div class="container py-5">
        <h1 class="mb-4">Best Cars For Rent</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        <div class="input-group w-100 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="keywords"
                                aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-xl-6">
                        <div class="bg-light ps-6 py-6 rounded d-flex justify-content-between mb-4">
                            <label for="fruits"> Default Sorting</label>
                            <select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light me-3"
                                form="fruitform">
                                <option value="all">All</option>
                                {% for categorie , count in categories_count.items %}
                                <option value="{{categorie}}">{{ categorie|capfirst }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <br>
                                    <h4>Categories</h4>
                                    <ul class="list-unstyled fruite-categorie">
                                        {% for categorie, count in categories_count.items %}
                                        <li>
                                            <div class="d-flex justify-content-between fruite-name">
                                                <a href="#"><i class="fas fa-car-alt me-2"></i>{{ categorie }} Cars</a>
                                                <span>({{ count }})</span>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4 class="mb-2">Price</h4>
                                    <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput"
                                        min="0" max="1000" value="0" oninput="updatePriceFilter(this.value)">
                                    <output id="amount" name="amount" min-value="1000" max-value="1000"
                                        for="rangeInput"></output>
                                </div>
                            </div>
                            <div class="row g-4 justify-content-center" id="car-list-reductions">
                                <h4 class="mb-3">Reductions</h4>
                                {% for voiture in listDesVoitureAvecReduction %}
                                <!-- Début de la première div -->
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rounded me-4" style="width: 100px; height: 100px;">
                                        <img src="{{ voiture.image.url }}" class="img-fluid w-100 rounded-top"
                                                alt="Voiture Image">
                                    </div>
                                    <div>
                                        <h6 class="mb-2">{{voiture.marque|capfirst }}-{{voiture.model|capfirst }}</h6>
                                        <div class="d-flex mb-2">
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <h5 class="fw-bold me-2">{{voiture.prix_jour}}</h5>
                                            <h5 class="text-danger text-decoration-line-through"> {{ voiture.prix_jour|add:100 }}MAD MAD</h5>


                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            
                            </div>
                            <div class="d-flex justify-content-center my-4">
                                <button id="view-more-reductions-btn"
                                    class="btn border border-secondary px-4 py-3 rounded-pill text-primary">View
                                    More</button>
                            </div>
                            <div class="col-lg-12">
                                <div class="position-relative">
                                    <img src="https://i.pinimg.com/564x/b8/21/ff/b821ff4bacecbb5bd6e19d311b7adb6a.jpg"
                                        class="img-fluid w-100 rounded" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center" id="car-list">
                            {% for voiture in listDesVoiture %}
                            <div class="col-md-6 col-lg-6 col-xl-4 fruite-item {{ voiture.categorie }}" data-price="{{ voiture.prix_jour }}">
                                <div class="rounded position-relative ">
                                    <div class="fruite-img">
                                        <a href="{% url 'CarsApp:details' voiture.id %}">
                                            <img src="{{ voiture.image.url }}" class="img-fluid w-100 rounded-top"
                                                alt="Voiture Image">
                                        </a>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                            style="top: 10px; left: 10px;">{{ voiture.Availability}}
                                        </div>
                                        <!-- Aviable ou nn selon si date de today inclu dans period de rent -> not avaible -->
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>{{voiture.marque|capfirst }}-{{voiture.model|capfirst }} </h4>
                                            <p>{{voiture.description }} </p>
                                            &nbsp;
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">{{voiture.prix_jour}} MAD/ day
                                                </p>
                                                <a href="{% url 'CarsApp:details' voiture.id %}" class="btn border border-secondary rounded-pill px-3 text-primary">
                                                    <i class="fas fa-car me-2 text-primary"></i> Details
                                                </a>
                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {{ forloop.counter }}
                            {% endfor %}
                        </div>
                        <div class="d-flex justify-content-between my-4">
                            <button id="prev-btn"
                                class="btn border border-secondary px-4 py-3 rounded-pill text-primary">Previous</button>
                            <button id="next-btn"
                                class="btn border border-secondary px-4 py-3 rounded-pill text-primary">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<script src="{% static 'js/catalog.js' %}"></script>
<script src="{% static 'js/pagination.js' %}"></script>
{% endblock %}