{% extends "base.html" %}
{% load static %}
{% block content %}
<link href="{% static 'css/register.css' %}" rel="stylesheet">

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5"
    style=" background-image: url('https://th.bing.com/th/id/R.a1f8629b3af8415a7fa5a182e60af9f8?rik=88qU6ZfKRcGKwA&pid=ImgRaw&r=0')">
    <h1 class="text-center text-white display-6">Car Detail</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'CarsApp:catalog'%}">Catalog</a></li>
        <li class="breadcrumb-item"><a href="#">Details</a></li>
    </ol>
</div>

<div class="container-fluid py-5 mt-5">
    <div class="container py-5">
        <div class="row g-4 mb-5">
            <div class="col-lg-8 col-xl-9">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="border rounded">
                            <a href="#">
                                <img src="{{ voiture_detail.image.url }}" class="img-fluid rounded" alt="Car Image">

                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="fw-bold mb-3">{{ voiture_detail.marque }} {{ voiture_detail.model }}</h4>
                        <p class="mb-3">Category: {{ voiture_detail.get_categorie_display }}</p>
                        <h5 class="fw-bold mb-3">{{ voiture_detail.prix_jour }} MAD</h5>
                        <div class="d-flex mb-4">
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p class="mb-4">{{ voiture_detail.description }}</p>

                        {% if voiture_detail.Availability == 'maintenance' %}
                        <button class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary" disabled
                            style="background-color: red;">
                            <i class="fa fa-Car me-2 text-primary"></i> Maintenance
                        </button>
                        {% elif voiture_detail.Availability == 'unavailable' %}
                        <button class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary" disabled
                            style="background-color: red;">
                            <i class="fa fa-Car me-2 text-primary"></i> Unavailable
                        </button>
                        {% else %}
                        <div>
                            
                            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                                crossorigin="anonymous"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                                crossorigin="anonymous"></script>
                            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                                crossorigin="anonymous"></script>
                            <script
                                src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

<button type="button" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary text-center" data-toggle="modal" data-target="#rentModal">
    <i class="fa fa-Car me-2 text-primary"></i>Rent this car 
</button>

<!-- Modal -->
<div class="modal fade" id="rentModal" tabindex="-1" role="dialog" aria-labelledby="rentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rentModalLabel">Reservation</h5>
                <button type="button" class="close btn btn-danger " data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if reservation_form.errors %}
                <div class="alert alert-danger">
                    <strong>Error:</strong>
                    {% for field, errors in reservation_form.errors.items %}
                        {% for error in errors %}
                            {{ field }}: {{ error }}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
                <!-- Formulaire de réservation -->
                <form method="post" action="{% url 'ReservationsApp:reservation_details' voiture_detail.id %}">
                    {% csrf_token %}
                    {{ reservation_form.as_p }}
            <button type="submit" name="next" class="btn btn-outline-secondary text-primary rounded-pill">Next</button>
                </form>
            </div>
        </div>
    </div>
</div> </div>

{% endif %}
 </div>
                    <div class="col-lg-12">
                        <nav>
                            <div class="nav nav-tabs mb-3">
                                <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                    id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                                    aria-controls="nav-about" aria-selected="true">Description</button>
                                <button class="nav-link border-white border-bottom-0" type="button" role="tab"
                                    id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission"
                                    aria-controls="nav-mission" aria-selected="false">Reviews</button>
                            </div>
                        </nav>
                        <div class="tab-content mb-5">
                            <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                <p class="mb-4">{{ voiture_detail.description }}</p>

                                <div class="px-2">
                                    <div class="row g-4">
                                        <div class="col-6">
                                            <div
                                                class="row bg-light align-items-center text-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Fuel</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">{{ voiture_detail.carburant }}</p>
                                                </div>
                                            </div>

                                            <div class="row text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Model</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">{{voiture_detail.model}}</p>
                                                </div>
                                            </div>
                                            <div
                                                class="row bg-light text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Categorie</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">{{voiture_detail.categorie}}</p>
                                                </div>
                                            </div>
                                            <div class="row text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">KM</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">{{voiture_detail.KM}}</p>
                                                </div>
                                            </div>
                                            <div
                                                class="row bg-light text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">State</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">{{voiture_detail.State}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                                <div class="d-flex">
                                    <img src="https://th.bing.com/th/id/R.c01329e1c29d72e518350a5adf7d8cd5?rik=SIDYiiGGSfLf%2bQ&pid=ImgRaw&r=0"
                                        class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;"
                                        alt="">
                                    <div class="">
                                        <p class="mb-2" style="font-size: 14px;">April 12, 2024</p>
                                        <div class="d-flex justify-content-between">
                                            <h5>Jason Smith</h5>
                                            <div class="d-flex mb-3">
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <p>The generated Lorem Ipsum is therefore always free from repetition injected
                                            humour, or non-characteristic
                                            words etc. Susp endisse ultricies nisi vel quam suscipit </p>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <img src="https://th.bing.com/th/id/OIP.rnoondDJ6R-keimoNIOknAHaHa?rs=1&pid=ImgDetMain"
                                        class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;"
                                        alt="">
                                    <div class="">
                                        <p class="mb-2" style="font-size: 14px;">April 12, 2024</p>
                                        <div class="d-flex justify-content-between">
                                            <h5>Sam Peters</h5>
                                            <div class="d-flex mb-3">
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <p class="text-dark">The generated Lorem Ipsum is therefore always free from
                                            repetition injected humour, or non-characteristic
                                            words etc. Susp endisse ultricies nisi vel quam suscipit </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="nav-vision" role="tabpanel">
                                <p class="text-dark">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor
                                    sit. Aliqu diam
                                    amet diam et eos labore. 3</p>
                                <p class="mb-0">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore.
                                    Clita erat ipsum et lorem et sit</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="row g-4 fruite">
                    <div class="col-lg-12">
                        <div class="input-group w-100 mx-auto d-flex mb-4">
                            <input type="search" class="form-control p-3" placeholder="keywords"
                                aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                        <div class="mb-4">
                            <h4>Categories</h4>
                            <ul class="list-unstyled fruite-categorie">
                                <li>
                                    <div class="d-flex justify-content-between fruite-name">
                                        <a href="#"><i class="fas fa-Car me-2"></i>Luxury</a>
                                        <span>(3)</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex justify-content-between fruite-name">
                                        <a href="#"><i class="fas fa-Car me-2"></i>Economy</a>
                                        <span>(5)</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex justify-content-between fruite-name">
                                        <a href="#"><i class="fas fa-Car me-2"></i>SUV</a>
                                        <span>(2)</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex justify-content-between fruite-name">
                                        <a href="#"><i class="fas fa-Car me-2"></i>Standard</a>
                                        <span>(8)</span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <h4 class="mb-4">Other Cars </h4>
                        <div class="d-flex align-items-center justify-content-start">
                            <div class="rounded" style="width: 100px; height: 100px;">
                                <img src="https://i.pinimg.com/564x/15/69/7c/15697cc1fc41530f29b4c5ecbc51e205.jpg"
                                    class="img-fluid rounded" alt="Image" height="600" width="200">
                            </div>
                            <div>
                                <h6 class="mb-2"> &nbsp; honda civic</h6>
                                <div class="d-flex mb-2">
                                    &nbsp;&nbsp; <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="d-flex mb-2">
                                    &nbsp;&nbsp; <h5 class="fw-bold me-2"> 399 MAD </h5>
                                </div>
                            </div>

                        </div>
                        <br><br><br>
                        <div class="d-flex justify-content-center my-4">
                            <a href="#"
                                class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Vew
                                More</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

       
    </div>
    <script src="{% static 'js/reservation_form.js' %}"></script>
    <script>
    function hideLabels() {
        var labels = document.querySelectorAll('label');
        labels.forEach(function(label) {
            label.style.display = 'none';
        });
    }
    window.onload = hideLabels;
</script>
    {% endblock %}